
<%= render "partials/header" %>
<!--
<h2>Current Cart</h2>

<table>
	<thead>
		<tr>
			<td>Product</td>
			<td>Price</td>
			<td>Quantity</td>
			<td></td>
		</tr>
	</thead>
	<tbody>
		<% @items.each do |item| %>
		<tr>
			<td><%= item.product.title %></td>
			<td><%= number_to_currency item.price %></td>
			<td><%= item.quantity %></td>
			<td><%= 
			form_for item, method: :delete do |f| %>
			<%= f.submit "Remove" %>
			<%  end %>
		</td>
	</tr>
	<% end %>
</tbody>
<tfoot>
	<tr>
		<td colspan="4" align="right">
			<%= number_to_currency current_cart.sub_total %>
		</td>
	</tr>
</tfoot>
</table>
<%= link_to "Checkout", checkout_path %>

-->

<div class="well well-small">
	<h1>Current Cart <small class="pull-right">  <%= pluralize(current_cart.items_count,'item') %> </small></h1>
	<hr class="soften"/>

	<table class="table table-bordered table-condensed">
		<thead>
			<tr>
				<th>Product</th>
				<th>Description</th>
				<th>	Ref. </th>
				<th>Avail.</th>
				<th>Unit price</th>
				<th>Qty </th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			<% @items.each do |item| %>
			<tr>
				<td><%= image_tag(item.product.image,style:'height:200px', width: '70%')%></td>
				<td><%= item.product.title %><br><br></td>
				<td> - </td>
				<td>Yes! </td>
				<td><%= number_to_currency item.price %></td>
				<td>
					<%= item.quantity %>
				</td>
				<td>
					<%= form_for item, method: :delete do |f| %>
					<%= f.submit "Remove" %>
					<%  end %>				
				</td>
			</tr>
			<% end %>
			<tr>
				<td colspan="6" class="alignR">Total products:	</td>
				<td class="label label-primary"> <%= number_to_currency current_cart.sub_total %></td>
			</tr>
		</tbody>
	</table> 

	<%= form_tag( checkout_path, :method => :get )  do %>
		<div class="control-group">
			<div class="controls">
				<button type="submit" class="shopBtn">Click to Proceed!</button>
			</div>
		</div>
	<% end %>

</div>
	
	<br/>	
	<br/>	
	<br/>		<br/>		<br/>	<br/>	<br/>	<br/>	<br/>	<br/>	<br/>	<br/>	<br/>
	<br/>
<%= render "partials/footer" %>